<!DOCTYPE html>
  <head>
    <title>Image Test</title>
  </head>
  <body>
    <h1>Testing!</h1>
    <img src="{{ url_for('static', filename = 'xkcd.png') }}" width="800" height="600">
    <p>Image goes here</p>
  </body>
</html>
